docs/*
!docs/report.pdf
docs/src/*
!docs/src
!docs/src/*.tex
!docs/src/biblio.bib
!docs/src/annex.pdf
docs/src/inc
!docs/src/inc
!docs/src/inc/csv
!docs/src/inc/csv/*
!docs/src/inc/img
!docs/src/inc/img/*
!docs/src/inc/lst
!docs/src/inc/lst/*
!docs/src/inc/src

.vscode
target
old

*.txt
*.jpg
*.old
*.drawio

svg-inkscape/
*.aux
*.log
*.bcf
*.out
*.run.xml
*.gz
*.synctexgz
*.toc
*.bbl
*.blg

*.bkp
*.dtmp

Cargo.lock

code/grafana_dashboard/*
!code/grafana_dashboard/grafana.db