report
report/*
!report/
!report/*.tex
!report/biblio.bib
!report/report.pdf
!report/annex.pdf
!report/inc
!report/inc/csv
!report/inc/csv/*
!report/inc/img
!report/inc/img/*
!report/inc/lst
!report/inc/lst/*
!report/inc/src
!main

.vscode
target
old

*.txt
*.jpg
*.old
*.drawio

svg-inkscape/
*.aux
*.log
*.bcf
*.out
*.run.xml
*.gz
*.synctexgz
*.toc
*.bbl
*.blg

*.bkp
*.dtmp

Cargo.lock

*
!code
!code/grafana_dashboard
!code/grafana_dashboard/grafana.db